{% extends 'base.html' %}

{% block content  %}
<h1> Book:
    <a href="{{ book_instance.book.get_absolute_url }}">
        {{book_instance.book.title}}
    </a>
</h1>
<h3> ISBN: {{book_instance.isbn}} </h3>
<h3> Language: {{book_instance.language}} </h3>
<h3> Status: {{book_instance.status}} </h3>

{% if user.is_authenticated and book_instance.status == 'Available' %}
<form method="POST"> {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Reserve</button>
</form>
{% endif %}
{% endblock %}