{% extends 'base.html' %}

{% block content  %}
<h1> Book </h1>
<h2> Title: {{book.title}} </h2>
<h2> Author: <a href="{{ book.author.get_absolute_url }}">{{book.author.pseudonym}}</a></h2>
<h2> Genres:
    {% for genre in book.genre.all %}
    {{genre}}
    {% if not forloop.last %},{% endif %}
    {% endfor %}

</h2>
<hr>
<h2>Copies: </h2>
{% for book_instance in book.bookinstance_set.all %}
<h3>
    <a href="{{ book_instance.get_absolute_url }}">{{book_instance.isbn}} </a>
    | {{book_instance.status}}
</h3>
{% endfor %}
{% endblock %}